<div class="form-group">
  {% include 'django/forms/widgets/input.html' %}
</div>
<div class="progress">
  <div role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%;" class="progress-bar bg-danger" id="password-strength-meter"></div>
</div>
<small class="form-text text-muted" id="hint_id_password1">
  <ul style="list-style: none;" class="pl-0 form-text">
    <li id="passwordName-hint">Your password can’t contain your username or any part of your full name.</li>
    <li id="length-hint">Your password must contain at least 14 characters.</li>
    <li id="num-hint">Your password must contain at least one number.</li>
    <li id="upper-hint">Your password must contain at least one uppercase letter.</li>
    <li id="lower-hint">Your password must contain at least one lowercase letter.</li>
    <li id="special-hint">Your password must contain at least one special character.</li>

  </ul>
</small>
<script type="text/javascript">
  /*
  If the user is logged in and changing their password or something,
  add the following to template before form give this access to a logged in
  user's username and name:
  <div data-username="{{ user.username }}" data-firstname="{{ user.first_name }}"
  data-lastname="{{ user.last_name }}" class="d-none" id="user-info"></div>
  */
  
  $(function() {
    const $meter = $('#password-strength-meter');
    let password = '';
    let strength = 1;
    let username;
    let firstname;
    let lastname;
  
    const $userInfo = $("#user-info");
    if ($userInfo.length > 0) {
      username = $userInfo.data('username');
      firstname = $userInfo.data('firstname');
      lastname = $userInfo.data('lastname');
    }
    const validators = {
      length() { return password.length >= 14; },
      num() { return /\d/.test(password); },
      upper() { return /[A-Z]/.test(password); },
      lower() { return /[a-z]/.test(password); },
      special() { return /[\[\]()\{}|`~!@#$%^&/*_\-+=;:\'\",<>.\/\\?]/.test(password); },
      passwordName() {
        let names = [username, firstname, lastname];
        for (let i in names) {
          if (names[i] && password.toLowerCase().includes(names[i].toLowerCase())) {
            console.log(names + 'false');
            return false;
          }
        }
        console.log(names + ' True');
        return true;
      }
    };
  
    function markHint(validator, $hint) {
      if (validator()) {
        $hint.addClass('text-success');
      } else {
        $hint.removeClass('text-success');
      }
    }
    $("#{{ widget.attrs.id }}").on('input', function() {
      console.log('Input received.');
      password = $(this).val();
      strength = 1;
  
      if ($userInfo.length === 0) {
        username = $("#id_username").val();
        firstname = $("#id_first_name").val();
        lastname = $("#id_last_name").val();
      }
  
      let num = validators.num();
      let upper = validators.upper();
      let lower = validators.lower();
      let special = validators.special();
      let len = validators.length();
      let nameCheck = validators.passwordName();
  
      if (password.length >= 8) { strength += 2; }
      if (len) { strength += 4; }
      if (num) { strength++; }
      if (upper) { strength++; }
      if (lower) { strength++; }
      if (special) { strength += 2; }
      if (upper && lower) { strength += 2; }
      if (upper && lower && num) { strength += 3; }
      if (upper && lower && num && special) { strength += 3; }
  
      if (!nameCheck) { strength -= 6; }
      if (strength <= 0) { strength = 1; }
  
      setMeter(strength);
      for (let validator in validators) {
        markHint(validators[validator], $(`#${validator}-hint`));
      }
    });
  
    function setMeter(strength) {
      let classes = 'progress-bar ';
      let width = strength * 5;
      switch(true) {
        case (width <= 25):
          classes += 'bg-danger';
          break;
        case (width <= 50):
          classes += 'bg-warning';
          break;
        case (width <= 80):
          classes += 'bg-info';
          break;
        case (width < 100):
          console.log('width is: ' + width);
          classes += 'bg-success';
          break;
        case (width === 100):
          console.log('width from 100 is now: ' + width);
          classes += 'bg-success progress-bar-striped';
          break;
      }
      $meter.attr('style', `width: ${width}%;`);
      $meter.attr('aria-valuenow', width);
      $meter.attr('class', classes);
    }
  });
</script>
